body {  
    font-family: 'Arial', sans-serif;  
    background-color:rgb(254, 255, 224);  
    margin: 0;  
    padding: 0;  
    display: flex;  
    align-items: center;  
    min-height: 100vh;  
    padding-top: 1px;
    padding-bottom: 1px;
}  

nav {  
    /* background-color: #1c1c1c;  */
    border: 2px solid rgba(0.1, 0, 0, 0.1);
    box-shadow: 0 08px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 10px;  
    padding: 5px 10px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    gap: 60px;  
    max-width: 500px;  
    width: 100%;  
    margin-left: 2%;
}  

nav a {  
    text-decoration: none; 
    font-size: 11pt; 
    color: #1d1b1b;  
    font-weight: 800;  
    padding: 10px 15px;  
    border-radius: 25px;  
    transition: all 0.3s ease;  
    position: relative;  
    overflow: hidden;  
    text-transform: uppercase;  
    letter-spacing: 1px;  
}  

nav a:hover {  
    background: #f6a21e;  
    transform: scale(1.5) skewX(-5deg) skewY(3deg);
    color: rgb(255, 255, 255);
}  

@media (max-width: 600px) {  
    nav {  
        flex-direction: column;  
        gap: 10px;  
        padding: 15px;  
    }  

    nav a {  
        width: 100%;  
        text-align: center;  
    }  
}  